{%- if let Some(comment_impl) = ca.base.comment -%}
//{{comment_impl}}
{%- endif -%}
pub {{ca.base.name}}: {%~ if ca.base.is_optional -%}BitisOption<{%- endif -%}
{%- if let Some(repeated_type) = ca.base.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(_) ~%}Vec<
{%- when DynOrFixedType::Fixed with (s) ~%}FixedArray<
{%- endmatch -%}
{%- endif -%}
{{ ca.rust_type_str|safe }}
{%- if let Some(repeated_type) = ca.base.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(_) -%}>
{%- when DynOrFixedType::Fixed with (s) -%},{{s}}>
{%- endmatch -%}
{%- endif -%}
{%- if ca.base.is_optional -%}>{%- endif -%},