{%- if let Some(comment_impl) = ca.comment -%}
//{{comment_impl}}  {{ca.name}}:
{%- else -%}
{{ca.name}}: {#+ #}
{%- endif -%}
 {%~ if ca.is_optional -%}Option<{%- endif -%}
{%- if let Some(repeated_type) = ca.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(_) ~%}Vec<
{%- when DynOrFixedType::Fixed with (s) ~%}[
{%- endmatch -%}
{%- endif -%}
{%- match ca.specific_details -%}
{%- when AttributeDetails::AttributeSimple with (as) -%} {% include "data_object_attr_simple.rs.jinja" %}
{%- when AttributeDetails::AttributeEnumOrMsg with (s) ~%}{{s}}
{%- when AttributeDetails::AttributeOneOf with (s) ~%}OO{{ cm.name|pascal_case }}{{ ca.name|pascal_case }}
{%- else -%} BB!
{%- endmatch -%}
{%- if let Some(repeated_type) = ca.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(_) -%}>
{%- when DynOrFixedType::Fixed with (s) -%};{{s}}]
{%- endmatch -%}
{%- endif -%}
{%- if ca.is_optional -%}>{%- endif -%},