{%~ if ca.base.is_optional -%}BitisOptional<{%- endif -%}
{%- if let Some(repeated_type) = ca.base.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(_) ~%}DynArray<
{%- when DynOrFixedType::Fixed with (s) ~%}FixedArray<
{%- endmatch -%}
{%- endif -%}
{{ ca.rust_type_str|safe }}
{%- if let Some(repeated_type) = ca.base.is_repeated_and_size -%}
{%- match repeated_type -%}
{%- when DynOrFixedType::Dyn(s) -%},{{s}}>
{%- when DynOrFixedType::Fixed with (s) -%},{{s}}>
{%- endmatch -%}
{%- endif -%}
{%- if ca.base.is_optional -%}>{%- endif -%}